@model IEnumerable<Desafio1MVCGrupoWASP.Models.Empleado>

@{
    ViewData["Title"] = "Index";
    var dptoFiltro = ViewData["DepartamentoFiltro"] as string;
}

<h1>
    Empleados
    @if (!string.IsNullOrEmpty(dptoFiltro))
    {
        <span class="text-muted fs-4">(Departamento: @dptoFiltro)</span>
    }
</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Empleado</a>
    @if (!string.IsNullOrEmpty(dptoFiltro))
    {
        <a asp-action="Index" class="btn btn-secondary">Mostrar Todos</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaContratacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(model => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(model => item.FechaContratacion)
            </td>
            <td>
                @Html.DisplayFor(model => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(model => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(model => item.Departamento!.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
